@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500&display=swap");

.top-area {
  flex: 1 1 0;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.main-area {
  flex: 1 1 0;
  overflow: scroll;
  padding-bottom: 2rem;
  width: 100%;
}
.main-area .main-area__inner {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 160px);
  grid-auto-flow: row;
  gap: 0.5rem;
}

.pagination-item {
  height: 2.8rem;
  width: 2.8rem;
  cursor: pointer;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  border-radius: 50%;
  color: white;
  background-color: transparent;
  border: 1px solid #892cdc;

  transition: 0.2s all;
}
.pagination-item:hover {
  background: #892cdc;
  transform: scale(0.9);
}

.pagination-item.pagination-item--selected {
  background: #892cdc;
  font-weight: bold;
}

